In [1228]:
import numpy as np
import pandas as pd
import sklearn as sk
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.svm.libsvm import predict
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler
from sklearn.metrics import classification_report, accuracy_score

In [1229]:
yearOne = pd.read_csv('normal_y1_gpa.csv')
#yearTwo = pd.read_csv('y2_gpa.csv')

In [1230]:
del yearOne['Unnamed: 0']
#del yearTwo['Unnamed: 0']
del yearOne['hashedID']
yearOne.head()

,course1,course2,course3,course4,course5,course6,course7,course8,course9,course10,course11,course12,gpa
0,2.83,3.29,2.55,1.78,2.24,3.44,2.23,3.23,2.79,2.10,3.20,2.79,2.61
1,2.44,2.97,2.82,3.31,2.03,3.70,3.38,2.57,2.90,3.17,3.44,1.98,2.84
2,2.75,3.19,3.41,2.44,1.98,2.36,2.65,3.90,3.77,2.32,3.18,2.51,2.94
3,2.48,3.09,2.73,1.31,2.33,3.35,2.23,2.92,3.03,2.60,2.66,2.09,2.33
4,2.09,2.82,3.20,2.60,1.91,2.42,2.95,2.82,1.88,2.17,2.76,3.93,2.91

In [1231]:
#del yearOne['hashedID']

In [1232]:
# def calc_gpa(row):
#     data = [r for r in row]
#     print(data)
#     return np.round(np.mean(data), 2)

In [1233]:
# yearOne['gpa'] = yearOne.iloc[0:10].apply(calc_gpa, axis=1)

In [1234]:
#yearOne.head()

In [1235]:
def gpa_cat(gpa):
    if 0 <= gpa <= 2.7:
        return 0 
    elif 2.7 < gpa <= 3.0:
        return 1
    else:
        return 2

In [1236]:
yearOne['gpa'] = yearOne['gpa'].apply(gpa_cat)

In [1237]:
yearOne.head()

,course1,course2,course3,course4,course5,course6,course7,course8,course9,course10,course11,course12,gpa
0,2.83,3.29,2.55,1.78,2.24,3.44,2.23,3.23,2.79,2.10,3.20,2.79,0
1,2.44,2.97,2.82,3.31,2.03,3.70,3.38,2.57,2.90,3.17,3.44,1.98,1
2,2.75,3.19,3.41,2.44,1.98,2.36,2.65,3.90,3.77,2.32,3.18,2.51,1
3,2.48,3.09,2.73,1.31,2.33,3.35,2.23,2.92,3.03,2.60,2.66,2.09,0
4,2.09,2.82,3.20,2.60,1.91,2.42,2.95,2.82,1.88,2.17,2.76,3.93,1

In [1238]:
#yearOne.tail()

In [1239]:
np.unique(yearOne['gpa'])

array([0, 1, 2])

In [1240]:
X = yearOne.drop('gpa', axis=1)
y = yearOne['gpa']

In [1241]:
xTrain, xTest, yTrain, yTest = train_test_split(X, y, test_size=0.40, random_state=42)

In [1242]:
scaler = StandardScaler()
xScaled = scaler.fit_transform(xTrain)

In [1243]:
svmmodel = SVC()
svmmodel.fit(xScaled, yTrain)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [1244]:
xScaledTest = scaler.transform(xTest)
predictions = svmmodel.predict(xScaledTest)

In [1245]:
print(classification_report(yTest, predictions))
print("Accuracy: {}".format(accuracy_score(yTest, predictions)))

             precision    recall  f1-score   support

          0       0.88      0.70      0.78      1280
          1       0.72      0.92      0.81      2080
          2       0.85      0.45      0.58       640

avg / total       0.79      0.77      0.76      4000

Accuracy: 0.773

In [1246]:
newData = pd.DataFrame({
        #'hashedID':[1111], 
        'course1':[2.83],
        'course2':[3.29], 
        'course3':[2.55],
        'course4':[1.78],
        'course5':[2.24], 
        'course6':[3.44], 
        'course7':[2.23],
        'course8':[3.23],
        'course9':[2.79],
        'course10':[2.1],  
        'course11':[3.2],
        'course12':[2.79]
})

In [1247]:
testScale = scaler.transform(newData)
predictions = svmmodel.predict(testScale)
print(predictions)

[1]

In [1248]:
newData2 = pd.DataFrame({
        #'hashedID':[2222], 
        'course1':[3.34],
        'course2':[3.22], 
        'course3':[3.89],
        'course4':[3.99],
        'course5':[3.37], 
        'course6':[3.67], 
        'course7':[3.98],
        'course8':[3.22],
        'course9':[3.12],
        'course10':[3.47],  
        'course11':[3.90],
        'course12':[3.37]
})

In [1249]:
testScale2 = scaler.transform(newData2)
predictions2 = svmmodel.predict(testScale2)
print(predictions2)

[2]

In [1250]:
newData3 = pd.DataFrame({
        #'hashedID':[2222], 
        'course1':[0.34],
        'course2':[1.27], 
        'course3':[2.2],
        'course4':[0.0],
        'course5':[0.34], 
        'course6':[0.34], 
        'course7':[0.34],
        'course8':[0.34],
        'course9':[0.34],
        'course10':[0.34],  
        'course11':[0.34],
        'course12':[0.34]
})

In [1251]:
testScale3 = scaler.transform(newData3)
predictions3 = svmmodel.predict(testScale3)
print(predictions3)

[1]